:root {
  --main-color:#d7e6f1;
  --sub-color:#e2c4bc;
}

  body {
    box-sizing: border-box;
    background-color: var(--main-color);
  }

  .container-centered {
    margin: 0 px;
    width: 40%;
    font-size: 18 px;
    line-height: 1.5;
    background-color: var(--main-color);
  }

  .two-column {
    display: flex;
  }

  .left-column {
    background-color: var(--main-color);
    width: 40%;
    padding: 50 px;
  }

  header {
    padding: 30 px;
    margin: 0 px;
    text-align: center;
    color: #693232;
    background-color: var(--main-color);
  }

  header h1 {
    background-color: var(--sub-color);
    margin: 0% 20%;
    font-family: 'Indie Flower', cursive;
  }

  header h2 {
    background-color: #afd4ee;
    margin: 2% 20% 0%;
    font-family: 'Exo', sans-serif;
  }

  main {
    padding: 30 px;
    margin: 5%;
    color: #693232;
    background-color: var(--main-color);
    line-height: 1.5;
  }

  main img {
    padding: 10 px;
    margin: 0% 5%;
  }

  .delimiter {
    padding: 30 px;
    margin: 30 px;
    margin-bottom: 15 px;
  }
  
  .contacts li p {
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
  }

  .contacts {
    font-family: 'Exo', sans-serif;
  }

  .contacts a {
    text-decoration: none;
  }
  
  .skills li p {
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
  }

  .skills {
    font-family: 'Exo', sans-serif;
  }

  .languages li p{
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
  }

  .languages {
    font-family: 'Exo', sans-serif;
  }

  .right-column {
    width: 60%;
    padding: 50px;
    color: #693232;
    background-color: var(--sub-color);
  }

  .right-column img {
    padding: 10 px;
    margin: 0% 5%;
  }

  .under-header {
    font-family: 'Indie Flower', cursive;
    text-align: center;
  }

  .education {
    font-family: 'Exo', sans-serif;
  }

  .introduction {
    font-family: 'Exo', sans-serif;
  }
  
  .courses li p{
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
  }

  .courses {
    font-family: 'Exo', sans-serif;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0px;
    background-color:#afd4ee;
    line-height: 1;
    font-family: 'Exo', sans-serif;
    text-align: center;
  }

  footer a {
    text-decoration: none;
    color:#0b5069;
  }