:root {
  blue-green-color: #d7e6f1
}

  body {
    box-sizing: border-box;
    background-color: #d7e6f1;
  }

  .container-centered {
    margin: 0 px;
    width: 40%;
    font-size: 18 px;
    line-height: 1;
    background-color:#d7e6f1;
  }

  .two-column {
    display: flex;
  }

  .right-column {
    background-color:#d7e6f1;
    width: 40%;
    padding: 50 px;
  }

  header {
    padding: 30 px;
    margin: 0 px;
    text-align: center;
    color: #693232;
    background-color:#d7e6f1;
  }

  main {
    padding: 30 px;
    margin: 5%;
    color: #693232;
    background-color:#d7e6f1;
    line-height: 1.5;
  }

  main img {
    padding: 10 px;
    margin: 5%;
  }

  .delimiter {
    padding: 30 px;
    margin: 30 px;
    margin-bottom: 15 px;
  }
  
  .contacts li p {
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
  }
  
  .skills li p {
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
  }

  .languages li p{
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
  }

  .left-column {
    width: 60%;
    color: black;
    background-color: #e2c4bc;
  }

  .under-header {
    font-family: 'algerian-regular', sans-serif;
    text-align: center;
  }

  .introduction {

  }
  
  .education {

  }
  
  .courses {

  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 30 px;
    margin: 30 px;
    background-color:#afd4ee;
    line-height: 1;
    text-align: center;
  }